.icons {
  display: flex;
  width: 1080px;
  margin: auto;
  list-style: none;
}

.icons li {
  flex: 1;
  background-color: #E2E2E2;
  margin: 3rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

.icons li:hover {
  transform: scale(1.02); 
}

.image-container {
  width: 100%;
  object-fit: cover;
  background-color: none;
}

.image-container img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.content {
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
}

.content p {
  margin: 0;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .icons {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .icons li {
    margin: 1rem;
    width: calc(50% - 2rem); /* 아이템 너비 조정 */
  }

  .image-container {
    width: 100%; /* 이미지 컨테이너 너비 조정 */
  }

  .image-container img {
    max-width: 100%;
    height: auto;
  }
}

/* 중간 크기 화면 (태블릿) */
@media (max-width: 768px) {
  .icons {
    width: 100%;
    flex-direction: column;
  }

  .icons li {
    margin: 1.5rem 0.5rem;
  }

  .image-container {
    width: 90%;
  }
}

/* 작은 크기 화면 (모바일) */
@media (max-width: 480px) {
  .icons {
    width: 100%;
    flex-direction: column;
  }

  .icons li {
    margin: 1rem 0.25rem;
  }

  .image-container {
    width: 100%;
  }

  .content {
    padding: 0.25rem;
  }
}
